<!DOCTYPE html>
<html>
    <head>
        <title>homespace</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="bg-gray-900">

        <video autoplay muted loop id="myVideo" class="z-0">
            <source src="{{ url_for('static', filename='bg.mp4') }}" type="video/mp4">
          </video>
          <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://kit.fontawesome.com/5664de715b.js" crossorigin="anonymous"></script>
        <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>

        <div class="h-screen">

            <nav class="border-green-500 bg-black">
              <div class=" flex flex-wrap items-center justify-between mx-auto p-4">
                <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
                  <i class="fa-solid fa-clover fa-xl some-element" style="color: #04a834;"></i>  <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Homespace</span>
                </a>
                
                <div class="hidden w-full md:block md:w-auto" id="navbar-solid-bg">
                  <ul class="flex flex-col font-medium mt-4 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent">
                    <li>
                      <a href="" class="block py-2 px-3 md:p-0 text-white rounded hover:bg-green-500 md:hover:bg-transparent md:border-0 md:hover:text-green-500 ">Sign In</a>
                    </li>
                    <li>
                      <a href="" class="block py-2 px-3 md:p-0 text-white rounded hover:bg-green-500 md:hover:bg-transparent md:border-0 md:hover:text-green-500 ">Log In</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>

            
            
            
            {% block content %}{% endblock content %}

            
            </div>

            <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
            <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
              <script src="{{ url_for('static', filename='js/vanilla-tilt.min.js') }}"></script>
              <script>
                VanillaTilt.init(document.querySelectorAll(".card"),{
                  reverse: true,
                  speed: 100,
                  max: 25,
                  
                });
                
              </script>
    </body>
</html>