{% extends 'base.html' %}
{% block content %}
<div>
    <div class="flex items-center justify-center mt-[250px]">
        <h1 data-tilt-full-page-listening class=" absolute card text-[175px] bg-cyan-400 inline-block text-transparent bg-clip-text mb-4 mr-4">Homespace</h1>
        <h1 data-tilt-full-page-listening class=" absolute card text-[175px] bg-violet-700 inline-block text-transparent bg-clip-text mt-4 ml-4">Homespace</h1>

        <h1 data-tilt-full-page-listening class="absolute card text-[175px] bg-amber-300 inline-block text-transparent bg-clip-text mt-2 mr-2">Homespace</h1>
        <h1 data-tilt-full-page-listening class="absolute card text-[175px] bg-white inline-block text-transparent bg-clip-text">Homespace</h1>    
    </div>
        <div class="flex items-center justify-center mt-[150px]">
            <h1 data-tilt-full-page-listening class=" card text-[56] bg-white inline-block text-transparent bg-clip-text">Your own place.&nbsp;&nbsp;&nbsp;</h1>
        </div>
        <div class="flex items-center justify-center mt-[50px]">
        <button type="button" onclick="sweet();" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 ">Know more</button>
        </div>
</div>


    

{% endblock content %}